*{
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    height: 50px;
    width: 140px;
}
 .nav-menu {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
    padding: 20px;

 }

 .nav-menu a{
    color: black;
    text-decoration: none;
 }

 .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
 }
 .notification{
    display: flex;
    justify-content: center;
    background-color: #FDDC26;
    height: 50px;
 }
 .notification h3{
    font-weight: 500;
 }
 .notification h3 a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: 900;
 }

 .main-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;

 }

 .main-body-img img{
    height: 400px;
 }

 .paytm-intro{
    width: 600px;
    margin-left: 162px;
 }
 .paytm-intro h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;

 }
.paytm-intro p{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 475px;
}
.intro-download{
    background-color: black;
    color: white;
    height: 44px;
    font-size: 15px;
    width: max-content;
    padding: 0 24px;
    border-radius: 20px;
}
.sub1{
   display: flex;
   background-color: skyblue;
   height: 400px;
   flex-direction: column;
   margin: 0;
   padding: 40px;
}
.sub1-title{
   /* margin-top: 20px; */
   font-size: 40px;
   color: white;
   margin-left: 98px;
}
.sub-menu-container{
   display: flex;
   justify-content: space-around;
   margin-left: 20px;
   margin-top: 50px;
}

.sub1-menu{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
   width: 20px;
   justify-content: space-between;
   height: 200px;
}

.sub-icon{
   font-size:90px;
}
.my-icon {
   font-size: 70px!important; /* Adjust the value to your desired size */
}

.sub2{
   padding: 40px;
   background-color: rgb(11, 76, 111);
   margin: 0;
}
.sub3{
   display: flex;
   flex-direction: column;
   margin-top: 90px;
   margin-left: 70px;
  
}

.sub3-title{
   margin-left: 200px;
}
.sub3-img{
   width: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.sub3-img img {
   height: 250px;
   width: 250px;
}

.sub3-info{
   display: flex;
   flex-direction: column;
   height:300px;
   align-items: flex-start;
   font-size: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 50%;
}

.sub3-card{
   display: flex;
   background-color: blue;
   width: 70%;
   align-self: center;
}
.sub3-heading{
   font-size: 40px;
}
.sub3-description{
   font-size: 15px;
   line-height: 36px;
}

.sub3-info-left{
   padding: 40px;
   display: flex;
   flex-direction: column;
   margin-left: 50px;
   width: 800px;
   
}
.sub3-download{
   background-color: black;
    color: white;
    height: 44px;
    font-size: 15px;
    width: max-content;
    padding: 0 24px;
    border-radius: 20px;
    border: 0;
}